<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gfc -->
      <package
            uri="http://www.ufjf.br/capivara/gfc"
            class="gfc.GfcPackage"
            genModel="model/gfc.genmodel"/>
   </extension>

</plugin>
