<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="gfc_diagram"/>
   </extension>
'

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="gfc_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="gfc.diagram.part.GfcDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/GfcDiagramFile.gif"
         extensions="gfc_diagram"
         default="true"
         class="gfc.diagram.part.GfcDiagramEditor"
         matchingStrategy="gfc.diagram.part.GfcMatchingStrategy"
         contributorClass="gfc.diagram.part.GfcDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="gfc.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/GfcDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="gfc.diagram.part.GfcCreationWizard"
  	     id="gfc.diagram.part.GfcCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

  
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="GfcPresentation">
         <Priority name="Lowest"/>
         <ViewId id="gfc.diagram.part.GfcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="GfcPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="gfc.diagram.part.GfcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="GfcPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="gfc.diagram.part.GfcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="GfcRender">
         <Priority name="Lowest"/>
         <ViewId id="gfc.diagram.part.GfcDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="gfc.diagram.providers.GfcMarkerNavigationProvider">
         <MarkerType name="br.ufjf.capivara.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Gfc Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="gfc.diagram.providers.GfcValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="gfc.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="br.ufjf.capivara.diagram.general"
            name="%prefpage.br.ufjf.capivara.diagram.general"
            class="gfc.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="br.ufjf.capivara.diagram.appearance"
            name="%prefpage.br.ufjf.capivara.diagram.appearance"
            category="br.ufjf.capivara.diagram.general"
            class="gfc.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="br.ufjf.capivara.diagram.connections"
            name="%prefpage.br.ufjf.capivara.diagram.connections"
            category="br.ufjf.capivara.diagram.general"
            class="gfc.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="br.ufjf.capivara.diagram.printing"
            name="%prefpage.br.ufjf.capivara.diagram.printing"
            category="br.ufjf.capivara.diagram.general"
            class="gfc.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="br.ufjf.capivara.diagram.rulersAndGrid"
            name="%prefpage.br.ufjf.capivara.diagram.rulersAndGrid"
            category="br.ufjf.capivara.diagram.general"
            class="gfc.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="br.ufjf.capivara.diagram"
            labelProvider="gfc.diagram.sheet.GfcSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="br.ufjf.capivara.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="br.ufjf.capivara.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="gfc.diagram.sheet.GfcPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="gfc.diagram.navigator.GfcAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="gfc.diagram.providers.GfcViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="gfc"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Gfc"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2004,2005,2006,2007"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="gfc.diagram.providers.GfcEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Gfc"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5004,5005,5006,5007"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="gfc.diagram.providers.GfcIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="gfc.diagram.providers.GfcParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="gfc.diagram.providers.GfcShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002,2003,2004,2005,2006,2007"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.Flowchart_1000"
               name="%metatype.name.Flowchart_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Flowchart"
               edithelper="gfc.diagram.edit.helpers.FlowchartEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.EntryNode_2001"
               name="%metatype.name.EntryNode_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EntryNode"
               edithelper="gfc.diagram.edit.helpers.EntryNodeEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.ProcessingNode_2002"
               name="%metatype.name.ProcessingNode_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ProcessingNode"
               edithelper="gfc.diagram.edit.helpers.ProcessingNodeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.DecisionNode_2003"
               name="%metatype.name.DecisionNode_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DecisionNode"
               edithelper="gfc.diagram.edit.helpers.DecisionNodeEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.LoopDecisionNode_2004"
               name="%metatype.name.LoopDecisionNode_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LoopDecisionNode"
               edithelper="gfc.diagram.edit.helpers.LoopDecisionNodeEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.ExitNode_2005"
               name="%metatype.name.ExitNode_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ExitNode"
               edithelper="gfc.diagram.edit.helpers.ExitNodeEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.SwitchNode_2006"
               name="%metatype.name.SwitchNode_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SwitchNode"
               edithelper="gfc.diagram.edit.helpers.SwitchNodeEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.CaseNode_2007"
               name="%metatype.name.CaseNode_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CaseNode"
               edithelper="gfc.diagram.edit.helpers.CaseNodeEditHelper">
            <param name="semanticHint" value="2007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.ufjf.br/capivara/gfc">
         <metamodelType
               id="br.ufjf.capivara.diagram.Edge_4001"
               name="%metatype.name.Edge_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Edge"
               edithelper="gfc.diagram.edit.helpers.EdgeEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="br.ufjf.capivara.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="br.ufjf.capivara.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="br.ufjf.capivara.diagram.TypeContext">
         <elementType ref="br.ufjf.capivara.diagram.Flowchart_1000"/>
         <elementType ref="br.ufjf.capivara.diagram.EntryNode_2001"/>
         <elementType ref="br.ufjf.capivara.diagram.ProcessingNode_2002"/>
         <elementType ref="br.ufjf.capivara.diagram.DecisionNode_2003"/>
         <elementType ref="br.ufjf.capivara.diagram.LoopDecisionNode_2004"/>
         <elementType ref="br.ufjf.capivara.diagram.ExitNode_2005"/>
         <elementType ref="br.ufjf.capivara.diagram.SwitchNode_2006"/>
         <elementType ref="br.ufjf.capivara.diagram.CaseNode_2007"/>
         <elementType ref="br.ufjf.capivara.diagram.Edge_4001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="br.ufjf.capivara.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="br.ufjf.capivara.diagram"
           properties="isURIEditorInput"
           class="gfc.diagram.part.GfcUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="br.ufjf.capivara.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="br.ufjf.capivara.diagram"
           properties="isShortcut"
           class="gfc.diagram.part.GfcShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="br.ufjf.capivara.diagram.resourceContent"/>
			<contentExtension pattern="br.ufjf.capivara.diagram.domainResourceContent"/>
            <contentExtension pattern="br.ufjf.capivara.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="br.ufjf.capivara.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="br.ufjf.capivara.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="gfc.diagram.navigator.GfcNavigatorContentProvider" 
            labelProvider="gfc.diagram.navigator.GfcNavigatorLabelProvider"
            icon="icons/obj16/GfcDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="gfc_diagram"/>
               </and>
               <instanceof value="gfc.diagram.navigator.GfcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="br.ufjf.capivara.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="gfc.diagram.navigator.GfcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="br.ufjf.capivara.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="br.ufjf.capivara.diagram.navigatorSorter" 
               class="gfc.diagram.navigator.GfcNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="gfc_diagram"/>
                  </and>
                  <instanceof value="gfc.diagram.navigator.GfcAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="br.ufjf.capivara.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="gfc.diagram.navigator.GfcDomainNavigatorContentProvider" 
            labelProvider="gfc.diagram.navigator.GfcDomainNavigatorLabelProvider"
            icon="icons/obj16/GfcDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="gfc"/>
               </and>
               <instanceof value="gfc.diagram.navigator.GfcDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="gfc.diagram.navigator.GfcDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="br.ufjf.capivara.diagram.navigatorActionProvider"
            class="gfc.diagram.navigator.GfcNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="gfc.diagram.navigator.GfcAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="br.ufjf.capivara.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="br.ufjf.capivara.diagram.navigatorLinkHelper"
            class="gfc.diagram.navigator.GfcNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="br.ufjf.capivara.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="gfc.diagram.navigator.GfcAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="gfc.diagram.part.GfcDiagramUpdateCommand"
         description="%update.diagram.description"
         id="gfc.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="gfc.diagram.updateDiagram"
         contextId="gfc.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="gfc.diagram.toolbar">
            <command
                  commandId="gfc.diagram.exportPngCommand"
                  icon="icons/obj16/GfcDiagramFile.gif"
                  tooltip="Export diagram as PNG"
                  style="push">
               
               <visibleWhen checkEnabled="false">
                  <with variable="activeEditorInput">
                     <adapt type="org.eclipse.core.resources.IFile">
                        <test 
                           property="org.eclipse.core.resources.extension" 
                           value="gfc_diagram"/>
                     </adapt>
                  </with>
               </visibleWhen>
               
            </command>
         </toolbar>
      </menuContribution>
   </extension>
<extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="br.ufjf.capivara.diagram.InitDiagram"
            nameFilter="*.gfc"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="gfc.diagram.part.GfcInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="br.ufjf.capivara.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>

<extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfFlowchartEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.FlowchartEditPart" id="Flowchart_1000"/>
         <context elements="Flowchart_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfEntryNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.EntryNodeEditPart" id="EntryNode_2001"/>
         <context elements="EntryNode_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfProcessingNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.ProcessingNodeEditPart" id="ProcessingNode_2002"/>
         <context elements="ProcessingNode_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfDecisionNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.DecisionNodeEditPart" id="DecisionNode_2003"/>
         <context elements="DecisionNode_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfLoopDecisionNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.LoopDecisionNodeEditPart" id="LoopDecisionNode_2004"/>
         <context elements="LoopDecisionNode_2004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfExitNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.ExitNodeEditPart" id="ExitNode_2005"/>
         <context elements="ExitNode_2005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfSwitchNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.SwitchNodeEditPart" id="SwitchNode_2006"/>
         <context elements="SwitchNode_2006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="gfc.diagram.providers.assistants.GfcModelingAssistantProviderOfCaseNodeEditPart">
         <Priority name="Lowest"/>
         <object class="gfc.diagram.edit.parts.CaseNodeEditPart" id="CaseNode_2007"/>
         <context elements="CaseNode_2007"/>
      </modelingAssistantProvider>
      
   </extension>

<extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="br.ufjf.capivara.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="gfc.diagram.part.GfcDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="gfc.diagram.edit.parts.FlowchartEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>



     <extension point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider class="org.eclipse.gmf.runtime.diagram.ui.providers.TopDownProvider">
         <Priority name="Medium"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <method name="getDiagramEditDomain().getEditorPart().getEditorInput().getId()" 
                    value="gfc.diagram.part.GfcDiagramEditorID"/>
         </object>
      </layoutProvider>
   </extension>
<extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="gfc.diagram.part.GfcDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="br.ufjf.capivara.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="gfc.diagram.part.GfcDiagramEditorID"
         defaultHandler="gfc.diagram.part.LoadResourceAction"/>
   </extension>

<extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
   

<extension point="org.eclipse.ui.commands">
   <command
         id="gfc.diagram.exportPngCommand"
         name="Export diagram as PNG"
         categoryId="gfc.diagram.part.GfcDiagramEditorID"/>
</extension>
<extension point="org.eclipse.ui.handlers">
   <handler
         commandId="gfc.diagram.exportPngCommand"
         class="gfc.diagram.actions.ExportDiagramAsImageAction">
   </handler>
</extension>
<extension point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=additions">
      <command
            commandId="gfc.diagram.exportPngCommand"
            label="Export diagram as PNG"
            style="push">
         <visibleWhen>
            <with variable="activePartId">
               <equals value="gfc.diagram.part.GfcDiagramEditorID"/>
            </with>
         </visibleWhen>
      </command>
   </menuContribution>
</extension>


   <!-- optionally, specify keybindings -->
</plugin>
